.mainBox{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interactionBox{
    width: 1000px;
    height: 600px;
    border: 1px black solid;
}

